<div class="footer mt-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
               <div><img src="../../../assets/download.png" alt="logo" style="width:100px; height:100px"></div>

            </div>
            <div class="col-12 col-sm-6 col-md-4">
                About Us
                <ul>
                    <li>How To Work</li>
                    <li>Listning Grid</li>
                    <li>Listning Single with chatbox</li>
                    <li>Latest Article Grid</li>
                    <li>Latest Article Details</li>
                    <li>Login or Register</li>
                    <!-- <li>How To Work</li> -->
                </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
              Popular Locations
              <ul>
                  <li>Indian Apolis</li>
                  <li>Fortwain</li>
                  <li>Sount Bend</li>
                  <li>Fishers</li>
                  <li>Hammond</li>
                  <li>Follow up</li>
                  <!-- <li>How To Work</li> -->
              </ul>

          </div>

        </div>
    </div>
    <div style="display: flex; background-color: black; justify-content: center; height: 40px; align-items: center;">
       copy right @2021 Daily Nickel, All Rights Reserved
    </div>
</div>
