<div class=" mt-3">
    <div class="card cardbackground">
      <div class="card-top">
          <img class="img-fluid" style="height:50px; width:50px; border-radius: 27px;" src="../../../assets/interview_back1.jpg" alt="notfound">
          <div style="display: inline-block;" class="ml-2">
              <b class="headerfontcolor">Stanly Church</b>
              <br>
              <small class="headerfontcolor">some example</small>
          </div>
      </div>
      <div class="card-bottom">
          <div>
              <img class="img-fluid" style="height:50px; width:50px; border-radius: 27px;" src="../../../assets/interview_back2.jpg" alt="notfd">
          </div>
          <div>
              <span class="headerfontcolor">icon1</span>
              <span class="ml-2 headerfontcolor">icon2</span>
          </div>
      </div>
    </div>
</div>