

<div>
    <app-carousel></app-carousel>
    
    
    <div class="row mt-3">
        <div class="mt-3 col-md-4" >
            <div class="gallery"></div>
        </div>
        <div class="mt-3 col-md-4" >
            <div class="gallery"></div>
        </div>
        <div class="mt-3 col-md-4">
            <div class="gallery"></div>
        </div>
    </div>
    <div class="mt-2">
        <b>Description</b>
        <p class="mt-2">
            s simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also
        </p>
    </div>
    <div class="mt-2">
        <b>Community Guidelines</b>
        
        <ul>
            <li>
                s simply dummy text of the printing and typesetting industry 
            </li>
            <li>
                s simply dummy text of the printing and typesetting industry 
            </li>
            <li>
                s simply dummy text of the printing and typesetting industry 
            </li>
            <li>
                s simply dummy text of the printing and typesetting industry 
            </li>
        </ul>   
       
    </div>

</div>
