
<div class="settings mt-4">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="mt-3 input-whole">
                <div><i class="fas fa-calendar-week"></i></div>
                <div class="input" style="width:80%">
                    <div><small>Created date</small></div>
                    <div class="ml-1">
                        <input class="input"  type="date" >
                    </div>
                </div>

            </div>
            <div class="mt-3 input-whole">
                <div><i class="fas fa-info-circle"></i></div>
                <div  style="width:80%">
                    <div><small>About Community</small></div>
                    <div class="ml-1">
                        <input class="input"  type="text" placeholder="Enter First Name">
                    </div>
                </div>

            </div>
            <div class="mt-3 input-whole">
                <div><i class="fas fa-church"></i></div>
                <div  style="width:80%">
                    <div><small>Community Type</small></div>
                    <div class="ml-1">
                        <input class="input"  type="text" placeholder="Enter Community Type">
                    </div>
                </div>

            </div>
            <div class="mt-3 input-whole">
                <div><i class="fas fa-map-pin"></i></div>
                <div  style="width:80%">
                    <div><small>Location</small></div>
                    <div class="ml-1">
                        <input class="input"  type="text" placeholder="Enter Location">
                    </div>
                </div>

            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="mt-3 input-whole">
                <div><i class="fas fa-users"></i></div>
                <div  style="width:80%">
                    <div><small>Community Name</small></div>
                    <div class="ml-1">
                        <input class="input"  type="text" placeholder="Enter Community Name">
                    </div>
                </div>

            </div>
            <div class="mt-3 input-whole">
                <div><i class="fas fa-camera-retro"></i></div>
                <div  style="width:80%">
                    <div><small>Avatar</small></div>
                    <div class="ml-1">
                        <input class="input"  type="file" placeholder="upload image">
                    </div>
                </div>

            </div>
            <div class="mt-3 input-whole">
                <div><i class="fas fa-heart"></i></div>
                <div  style="width:80%">
                    <div><small>Community Intrest</small></div>
                    <div class="ml-1">
                        <input class="input"  type="text" placeholder="Enter the community u are intrested">
                    </div>
                </div>

            </div>
            <div class="mt-4" style="display: flex; padding:10px;justify-content: flex-end;">
                <button type="submit" class="btn btn-primary" style="border-radius: 20px;">Take a Short Tour</button>
            </div>
        </div>
    </div>
</div>