<div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card mb-3" style="max-width: 18rem;">
            <div class="card-header" style="height:100px; display: flex; justify-content: center; align-items: center; background-color: #4267B2;">
              <div>
                fb icon
              </div>
            </div>
            <div class="card-body pd-3">
              <!-- <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              <div style="display: flex;">
                <div style="padding: 10px; width:50%; border-right:1px solid black;">
                    <div>
                       <b>89K</b> 
                     </div>
                     <div>
                       FRIENDS
                     </div>
                </div>
                <div style="padding: 10px; width: 50%;">
                    <div>
                        <b>459</b>  
                    </div>
                    <div>
                        FEEDS
                    </div>
                </div>
              </div>
              
            </div>
          </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card mb-3" style="max-width: 18rem;">
            <div class="card-header" style="height:100px; display: flex; justify-content: center; align-items: center; background-color:#00acee">
              <div>
                twitter icon
              </div>
            </div>
            <div class="card-body pd-3">
              <!-- <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              <div style="display: flex;">
                <div style="padding: 10px; width:50%; border-right:1px solid black;">
                    <div>
                       <b>89K</b> 
                     </div>
                     <div>
                       FRIENDS
                     </div>
                </div>
                <div style="padding: 10px; width: 50%;">
                    <div>
                        <b>459</b>  
                    </div>
                    <div>
                        FEEDS
                    </div>
                </div>
              </div>
              
            </div>
          </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card mb-3" style="max-width: 18rem;">
            <div class="card-header" style="height:100px; display: flex; justify-content: center; align-items: center; background-color: #0e76a8;">
              <div>
                LinkedIn Icon
              </div>
            </div>
            <div class="card-body pd-3">
              <!-- <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              <div style="display: flex;">
                <div style="padding: 10px; width:50%; border-right:1px solid black;">
                    <div>
                       <b>89K</b> 
                     </div>
                     <div>
                       FRIENDS
                     </div>
                </div>
                <div style="padding: 10px; width: 50%;">
                    <div>
                        <b>459</b>  
                    </div>
                    <div>
                        FEEDS
                    </div>
                </div>
              </div>
              
            </div>
          </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card mb-3" style="max-width: 18rem;">
            <div class="card-header" style="height:100px; display: flex; justify-content: center; align-items: center; background-color: yellow;">
              <div>
                Google 
              </div>
            </div>
            <div class="card-body pd-3">
              <!-- <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              <div style="display: flex;">
                <div style="padding: 10px; width:50%; border-right:1px solid black;">
                    <div>
                       <b>89K</b> 
                     </div>
                     <div>
                       FRIENDS
                     </div>
                </div>
                <div style="padding: 10px; width: 50%;">
                    <div>
                        <b>459</b>  
                    </div>
                    <div>
                        FEEDS
                    </div>
                </div>
              </div>
              
            </div>
          </div>
      </div>
    </div>
    </div>
