.header
{
    display: flex;
    justify-content: space-between;

}
.nav-item
{
    display: inline-block;
}
.example-container {
    border: 1px solid rgba(0, 0, 0, 0.5);
    height:100%;
  }
  
  /* .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }*/
  
  .example-sidenav {
    padding: 20px;
  }
  .navbar-brand
  {
    display:inline-block;
     padding-right: 25px;
  }
  .secoundnavbarright
  {
    display: flex;
     justify-content: space-between; 
     width:310px;
  }
  .dropdown-item
  {
      position:relative
  }
  .navbar-nav .dropdown-menu
  {
      position:absolute;
      top:113px;
  }
  .tableimg
  {
      width: 100px;
      height:100px;
      border-radius: 20px;
  }
  .progressbar
  {
      height:9px;
      /* width:120px; */
  }
  

  /* @media (min-width: 0px) and (max-width: 576px)  {
     
} */
@media (min-width: 0px) and (max-width: 768px)  {
  .displayonlg
  {
      display: none;
  }    
  .navbar-brand
  {
      padding-right: 0px;
  }
  .secoundnavbarright{
      display:none;
  }
 .table-responsive-sm
  {
      overflow:auto;
      width:100%;
  } 
}

  @media (min-width: 769px)  {
      .displayonsm
      {
          display:none;
      }
   
}