<!-- <app -->

<!-- <router-outlet></router-outlet> -->
<!-- <app-dashboard></app-dashboard> -->
<!-- <app-logincomponent></app-logincomponent> -->
<!-- <app-netflex></app-netflex> -->
<!-- <app-salesforcedata></app-salesforcedata> -->
<!-- <app-dailynickel></app-dailynickel> -->
<!-- <app-productdetails></app-productdetails> -->
<!-- <app-searchresult></app-searchresult> -->
<!-- <app-location-search></app-location-search> -->
<!-- <app-userregistration></app-userregistration> -->


<!-- <app-communityprofile></app-communityprofile> -->
<!-- <app-meetnow></app-meetnow> -->
<app-get-recommended-communities></app-get-recommended-communities>
<!-- <router-outlet></router-outlet> -->
<!-- <app-requestedmeeting></app-requestedmeeting> -->