<div class="container">
    <div class="row mt-4">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
          <div class="card-header" style="display: flex; justify-content: space-between;">
            <div>
              <div>9.823</div>
              <div>members online</div>
            </div>
            
            <div><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></div>
          </div>
          <div class="card-body">
            <canvas baseChart width="400" height="400"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
          </canvas>
            <!-- <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          </div>
        </div>
      </div>
   
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
        <div class="card-header" style="display: flex; justify-content: space-between;">
          <div>
            <div>9.823</div>
            <div>members online</div>
          </div>
          
          <div>
            
                <a class="btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cog fa-2x" style="color: white;" aria-hidden="true"></i><i class="fa fa-caret-down fa-2x ml-1" style="color: white;" aria-hidden="true"></i>
       
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
            
        </div>
        </div>
        <div class="card-body">
            <canvas baseChart width="400" height="400"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
          </canvas>
            <!-- <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          </div>
      
    </div>
    </div>
  
  <div class="col-12 col-md-6 col-lg-3">
    <div class="card text-white bg-primary bg-danger mb-3" style="max-width: 18rem;">
      <div class="card-header" style="display: flex; justify-content: space-between;">
        <div>
          <div>9.823</div>
          <div>members online</div>
        </div>
        
        <div>
             <a class="btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cog fa-2x" style="color: white;" aria-hidden="true"></i><i class="fa fa-caret-down fa-2x ml-1" style="color: white;" aria-hidden="true"></i>

        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
     </div>
     </div>
      <div class="card-body">
        <canvas baseChart width="400" height="400"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins">
      </canvas>
        <!-- <h5 class="card-title">Primary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      </div>
    
  </div>
  </div>
  
  <div class="col-12 col-md-6 col-lg-3">
    <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
      <div class="card-header" style="display: flex; justify-content: space-between;">
        <div>
          <div>9.823</div>
          <div>members online</div>
        </div>
        
        <div> <a class="btn" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cog fa-2x" style="color: white;" aria-hidden="true"></i><i class="fa fa-caret-down fa-2x ml-1" style="color: white;" aria-hidden="true"></i>

        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div> 
      </div>
    </div>
      <div class="card-body">
        <canvas baseChart width="400" height="400"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="barChartType"
        [plugins]="lineChartPlugins">
      </canvas>
        <!-- <h5 class="card-title">Primary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      </div>
 
  
  </div>
  </div>
</div>
</div>