<div class="members mt-4">
<div class="mt-4" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
    <div style="position: relative;" class="inputs">
    <div style="position: absolute; display: inline-block; top:20px; left:10px">
        <i class="fas fa-search"></i>
    </div>
        <input class="mt-2" [(ngModel)]="searchtext" type='search' style="width:100%; padding: 8px 8px 8px 30px; border-radius:20px;" placeholder="Search Users">
  
    </div>
     <input class="mt-2 inputs" type='email' style="padding: 8px;  border-radius:20px;" placeholder="Enter Email Address">
     <button  type="button" style="border-radius: 20px;" class="mt-2 btn btn-success">Invite Users</button>
     </div>
     <div class="cards mt-4" style="height:80vh;width: 100%; overflow: auto;">
      <div *ngFor="let member of members | filter:searchtext" class="card1 shadow mt-4" style="padding:8px; width: 100%; background-color: white; display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
          <div class="card-left" style="display: flex; align-items: center;" >
              <img class="img-fluid rounded-circle mr-2"  src="../../../assets/profile.png" alt="profile" style="width:65px; height:65px;">
              <div>
                <b>{{member.name}}</b>
                <br>
                <small>{{member.cityname}}</small>
              </div>
            
          </div>
          <div class="card-right" style="display: flex; align-items: center;">
           <button type="button" class="btn"><i class="fas fa-id-card-alt"></i></button>
           <button type="button" class="btn"><i class="fas fa-sticky-note"></i></button>
           <button type="button" class="btn"><i class="fas fa-phone"></i></button>
           <button type="button" class="btn"><i class="fas fa-sticky-note"></i></button>
            <button type="button" class="ml-4 btn"><i class="fas fa-ellipsis-v"></i></button>
          </div>
      </div>
     </div>
</div>

