input:focus
{
    outline: none;
}
input
{
    /* border: none; */
    background-color: white;
    color: black;
}
.inputs
{
    width:40%;
}
@media (max-width:767px)
{
  .inputs{
      width:100%;
  }
}