
.example-sidenav-container
{
 width:100%;
 height: 100%;
 margin-top: 0px;
}
.sidenav
{
    width:229px;
}

input,textarea:focus
{
 outline: none;
}
select:focus
{
    outline: none;
}
.input-whole
{
    display: flex; align-items: flex-end;
}
.input
{
   width:100%;
    border-left: 0px;
     border-right: 0px;
     border-top: 0px;
     border-bottom: 1px solid;
}

@media (min-width: 0px) and (max-width: 768px) {
.sidenav{
    position:absolute;
}
}