<div class="meet">
    <div class="body shadow" >
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div><b>Requested Meeting</b></div>
            <button type="button" class="btn"><i class="fas fa-window-close"></i></button>
        </div>
        <div class="mt-3 row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="mt-2" style="display: flex; align-items: center; ">
                <img src="../../../assets/profile.png" alt="profile" class="img-fluid rounded-circle" style="height: 60px; width: 60px;">
                 <div>
                     <b>Username</b>
                     <br>
                     <small>Pending response</small>
                 </div>     
            </div>
                 
            </div> 
            <div class="col-12 col-md-6 col-lg-3">
                <div class="mt-2" style="display: flex; align-items: center;">
                   <span><i class="fas fa-sticky-note"></i></span>
                   <div class="ml-1"><small>Discussion on service</small></div>
                  </div>
                  <div class="mt-2" style="display: flex; align-items: center;">
                    <span><i class="fas fa-clock"></i></span>
                    <div class="ml-1"><small>1:00pm</small></div>
                  </div>
                  <div class="mt-2" style="display: flex; align-items: center;">
                    <span><i class="fas fa-calendar-week"></i></span>
                    <div class="ml-1"><small>01/01/2021</small></div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="mt-2" style="display: flex; align-items: center;">
                        <span><i class="fas fa-map-signs"></i></span>
                        <div class="ml-1"><small>2020 E south police, united states</small></div>
                      </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="mt-2" style="display: flex; align-items: center; flex-wrap: wrap;">
                    <button type="button" class="mt-2 btn text-success" style="width: 100%; border-radius: 20px; border-color: rgb(127, 241, 127);">
                    icon Direction
                    </button>
                    <button type="button" class="mt-2 btn text-success" style="width: 100%; border-radius: 20px; border-color: rgb(127, 241, 127);">
                        icon Reschedule
                        </button>
                      </div>
                </div>
            </div>
           
        </div>
    </div>
