

    <div class="card mt-3" >
        <div style="display: inline-block; width: 40px; position: absolute; right:10px; "><i class="fa fa-thumbs-up" aria-hidden="true"></i></div>
        <img class="card-img-top" style="background-color:rgba(0, 0, 0, 0.6);" src="../../../assets/interview_back2.jpg" alt="Card image cap">
        <div class="card-body">
        <div style="display: relative; float: left; width:80%">
            <b>Artifical Intelligence</b>
            <br>
            <small>demo text</small>
        </div>
        <div style="display: relative; float:right; width:20%">
            <b>Price</b>
            <br>
            <small>2 hrs ago</small>
        </div>
        </div>
      </div>