

    <div class="card mt-3" *ngIf="products.id">
        <div class="fa" style="display: inline-block; width: 40px; position: absolute; right:10px; top:10px; opacity: 1; z-index:100 "><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{products.likes_count}}</div>
        <img class="card-img-top image-fluid" style="background-color:rgba(0, 0, 0, 0.6); height: 50%;opacity: 0.8;" [src]="products.images[0].image" alt="Card image cap">
        <div class="card-body">
        <div>
            <b>{{products.name}}</b>
            <br>
            <small>{{products.location}}</small>
        </div>
        <div>
            <b>{{products.price}} $</b>
            <br>
            <small>{{products.time_text}}</small>
        </div>
        </div>
      </div>